body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #fffacd;
    min-height: 100vh;
}

.headerbox {
    font-size: 60px;
	display: flex;
}
.list_btn {
    width: 100%;
    max-width: 60px;
}

.kabukicho {
    width: 100%;
    height: 400px;
	object-fit: cover;
	border: #222;
}

#btn_menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #222;
	transition: background-color 0.3s ease;
}
#btn_menu::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(45deg);
	transition: opacity 0.3s ease;
}
#btn_menu span {
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu span::before,
#btn_menu span span, #btn_menu span::after {
	position: absolute;
	top: 12%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background: #f7f7f7;
	transition: opacity 0.3s ease;
}
#dropdown-menu span span {
	top: calc(50% - 1px);
}
#btn_menu span::after {
	top: auto;
	bottom: 12%;
}
#btn_menu::after {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity 0.3s ease;
}
#btn_menu:hover {
	background-color: #555;
}
#btn_menu.active::before {
	opacity: 1;
}
#btn_menu.active span {
	opacity: 0;
}
#btn_menu.active::after {
	opacity: 1;
}
#menu {
	background-color: #c0ffee;
	margin-top: 20%;
}
.dropdown-menu{
	display: none;
	position: absolute;
	list-style: none;
	padding: 10px 0;
	margin: 5px 0 0 0;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-menu.is-active{
	display: block;
}

.dropdown-menu li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #333;
}
.dropdown-menu li a:hover {
	background-color: #eee;
}

#title_ {
	margin-left: 10%;
}

#map{
    height: 70vh;
    width: 100%;
	border-radius: 5px;
}
#map-margin{
	background-color: red;
	padding: 10%;
	border-radius: 10%;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}