body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffffff 0%, #323333 0%);
    min-height: 100vh;
}

.headerbox {
    font-size: 60px;
}

button {
    border: none;
    outline: none;
    box-sha
}

.list_btn {
    width: 100%;
    max-width: 60px;
}

.kabukicho {
    width: 100%;
    height: 50%;
}

// メニューボタン1
#btn_menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	background-color: #222;
	transition: background-color 0.3s ease;
}
#btn_menu::before {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(45deg);
	transition: opacity 0.3s ease;
}
#btn_menu span {
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	opacity: 1;
	transition: opacity 0.3s ease;
}
#btn_menu span::before,
#btn_menu span span, #btn_menu span::after {
	position: absolute;
	top: 12%;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background: #f7f7f7;
	transition: opacity 0.3s ease;
}
#btn_menu span span {
	top: calc(50% - 1px);
}
#btn_menu span::after {
	top: auto;
	bottom: 12%;
}
#btn_menu::after {
	position: absolute;
	top: calc(50% - 1px);
	left: 25%;
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #f7f7f7;
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity 0.3s ease;
}
#btn_menu:hover {
	background-color: #555;
}
#btn_menu.active::before {
	opacity: 1;
}
#btn_menu.active span {
	opacity: 0;
}
#btn_menu.active::after {
	opacity: 1;
}